<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>

<body>
<!-- /signUp 라우터로 POST요청을 보낸다. -->
    <form action="/signUp" method="POST">
        <label>회원가입</label><br>
        <input type="text" name="id" placeholder="ID"><br>
        <input type="password" name="pw" placeholder="PASSWORD"><br>
        <button type="submit">회원가입</button>
        <button type="button" onclick="location.href='/'">로그인 페이지로 이동</button>
    </form>
</body>

</html>